# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints
# Ignore common binary and document formats
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.svg
*.webp

*.db
# Office and document files
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.odt
*.ods
*.odp
*.rtf

# Other image/document formats
*.ico
*.heic
*.eps
*.psd
*.ai

# Archives (optional, but often included with binary/doc ignores)
*.zip
*.tar
*.tar.gz
*.rar
*.7z

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code
.vscode/

# Mac
.DS_Store

# PyCharm
.idea/